@use "../../../assets/colors" as var;

.categoriesMain {
    justify-content: space-between;
    margin-top: 40px;
}

.categories, .category, .categoryActive, .categoriesMain, .sort {
    display: flex;
    align-items: center;
}

.categories, .categoriesMain {
    flex-wrap: wrap;
}

.category, .categoryActive {
    height: 46px;
    padding: 20px 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #2C2C2C;
    background: #F9F9F9;
    border-radius: 30px;
    margin-bottom: 10px;
    user-select: none;
    cursor: pointer;
    transition: .1s;

    &:not(:last-child) {
        margin-right: 10px;
    }

    &:hover {
        background-color: #dfdfdf;
    }
}

.categoryActive {
    background-color: #282828;
    color: #FFFFFF;
    &:hover {
        background-color: #000000;
    }
}

.sort {
    position: relative;
    user-select: none;
    cursor: pointer;
    .black {
        margin: 0 8px 0 7px;
    }

    .orange {
        color: var.$orange-color;
        border-bottom: 1px dashed var.$orange-color;
    }

    svg, .down {
        transition: .2s;
    }
    .down {
        transform: rotate(180deg);
    }
}