.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 300px;
    height: 300px;
    z-index: 10;
    padding: 10px;
}

.shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .3);
    z-index: 9;
}

.off {
    opacity: 0;
    user-select: none;
}

.shadowOff {
    @extend .shadow;
    opacity: 0;
}