.main {
    background: #FFFFFF;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    padding: 67px;
    position: relative;
}

.allPizza {
    margin: 32px 0;
    font-weight: 700;
}

.pizza-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}