.button {
    color: #FE5F1E;
    min-width: 132px;
    height: 40px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #EB5A1E;
    border-radius: 30px;
    transition: .2s;

    &:hover {
        transition: .2s;
        color: #FFFFFF;
        background: #FE5F1E;
        border: 1px solid #FE5F1E;

        .amount {
            color: #EB5A1E;
            transition: .2s;
            background-color: #FFFFFF;
        }
    }

    .amount {
        color: #FFFFFF;
        background-color: #EB5A1E;
        font-size: 13px;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        display: inline-block;
        line-height: 22px;
    }
}