body {
  background-color: #FFDF8C;
}

.App {
  max-width: 1420px;
  padding: 40px;
  margin: auto;
}

* {
  font-family: Proxima;
  font-weight: 400;
}

@font-face {
  font-family: Proxima;
  src: url(./assets/fonts/ProximaNova-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Proxima;
  src: url(./assets/fonts/ProximaNova-Bold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Proxima;
  src: url(./assets/fonts/ProximaNova-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Proxima;
  src: url(./assets/fonts/ProximaNova-Bold.ttf);
  font-weight: 700;
}
